SeatAccommodationService/WebContent/wsdl/SeatAccommodationServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.seatAccommodation.services.dc.be.ua" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.seatAccommodation.services.dc.be.ua" xmlns:intf="http://service.seatAccommodation.services.dc.be.ua" xmlns:tns1="http://models.seatAccommodation.services.dc.be.ua" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.seatAccommodation.services.dc.be.ua" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models.seatAccommodation.services.dc.be.ua"/>
   <element name="getSeatsByEvent">
    <complexType>
     <sequence>
      <element name="event" type="tns1:Event"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSeatsByEventResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSeatsByEventReturn" type="tns1:Seat"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSeatsByEventAndType">
    <complexType>
     <sequence>
      <element name="event" type="tns1:Event"/>
      <element name="seatType" type="tns1:SeatType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSeatsByEventAndTypeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSeatsByEventAndTypeReturn" type="tns1:Seat"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSeatById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSeatByIdResponse">
    <complexType>
     <sequence>
      <element name="getSeatByIdReturn" type="tns1:Seat"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models.seatAccommodation.services.dc.be.ua" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Event">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SeatType">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Seat">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="type" nillable="true" type="tns1:SeatType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSeatsByEventAndTypeRequest">

      <wsdl:part element="impl:getSeatsByEventAndType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSeatsByEventResponse">

      <wsdl:part element="impl:getSeatsByEventResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSeatsByEventAndTypeResponse">

      <wsdl:part element="impl:getSeatsByEventAndTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSeatByIdResponse">

      <wsdl:part element="impl:getSeatByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSeatByIdRequest">

      <wsdl:part element="impl:getSeatById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSeatsByEventRequest">

      <wsdl:part element="impl:getSeatsByEvent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SeatAccommodationServiceImpl">

      <wsdl:operation name="getSeatsByEvent">

         <wsdl:input message="impl:getSeatsByEventRequest" name="getSeatsByEventRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSeatsByEventResponse" name="getSeatsByEventResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSeatsByEventAndType">

         <wsdl:input message="impl:getSeatsByEventAndTypeRequest" name="getSeatsByEventAndTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSeatsByEventAndTypeResponse" name="getSeatsByEventAndTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSeatById">

         <wsdl:input message="impl:getSeatByIdRequest" name="getSeatByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSeatByIdResponse" name="getSeatByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SeatAccommodationServiceImplSoapBinding" type="impl:SeatAccommodationServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSeatsByEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSeatsByEventRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSeatsByEventResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSeatsByEventAndType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSeatsByEventAndTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSeatsByEventAndTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSeatById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSeatByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSeatByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SeatAccommodationServiceImplService">

      <wsdl:port binding="impl:SeatAccommodationServiceImplSoapBinding" name="SeatAccommodationServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/DistributedComputing/services/SeatAccommodationServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
